/* -------------------
    table of content

    1. imports
    2. base styles
    3. cards
    ------------------ */

/* 1. imports */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

/* 2. base styles */
:root {
  /* colors */
  --primary: hsl(180, 29%, 50%);
  --gray-1: hsl(180, 52%, 96%);
  --gray-2: hsl(180, 31%, 95%);
  --gray-3: hsl(180, 8%, 52%);
  --gray-4: hsl(180, 14%, 20%);
  --d: hsl(185, 38%, 87%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font: 500 1.5rem/1.5 "Spartan", sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.text-primary,
.text-primary:hover {
  color: var(--primary);
}
.text-gray-1,
.text-gray-1:hover {
  color: var(--gray-1);
}
.text-gray-2,
.text-gray-2:hover {
  color: var(--gray-2);
}
.text-gray-3,
.text-gray-3:hover {
  color: var(--gray-3);
}
.text-gray-4,
.text-gray-4:hover {
  color: var(--gray-4);
}

.bg-primary {
  background-color: var(--primary);
}
.bg-gray-1 {
  background-color: var(--gray-1);
}
.bg-gray-2 {
  background-color: var(--gray-2);
}
.bg-gray-3 {
  background-color: var(--gray-3);
}
.bg-gray-4 {
  background-color: var(--gray-4);
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.font-weight-700 {
  font-weight: 700;
}

/* 3. cards */
.item-wrapper {
  background-color: #fff;
  border: solid 1px #f9f9f9;
  border-radius: 6px;
  border-left: solid 6px transparent;
  box-shadow: 0px 10px 22px -6px rgb(187, 221, 226);
  position: relative;
}
